app/wievs/articles/_article.html.erb
<div id="<%= dom_id article %>">

  <p>
    <strong>Файл:</strong>
      <% article.files.each do |file| %>
        <%= link_to file.filename, file %> 
      <% end %>
  </p> 

  <p>
    <strong>Имя:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Название темы:</strong>
    <%= simple_format(article.title) %>
  </p>

  <pre>
    <strong>Текст:</strong>
    <%= article.text %>

    <strong>Изображение:</strong>
    <% article.images.each do |image| %>
      <%= link_to image_tag(image, style:"width:150px; height:150px"), image %>
    <% end %>

    <%= turbo_frame_tag [dom_id(article)], "video", data: { turbo_permanent: true } do %>
      <strong>Video:</strong>
      <%= video_tag(url_for(article.video), width: 300, controls: true) if article.video.attached? %>
    <% end %>

    <%= link_to "Показать сообщение", article, class: "button is-primary" %>
  </pre>

</div>