<div id="<%= dom_id article %>">

  <p>
    <strong>Файл:</strong>
      <% article.files.each do |file| %>
        <%= link_to file.filename, file %> 
      <% end %>
  </p> 

  <p>
    <strong>Имя:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Название темы:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Текст:</strong>
    <%= article.text %>
  </p>
  <br>
  
  <% article.images.each do |image| %>
    <%= link_to image_tag(image, style:"width:150px; height:150px"), image %>
  <% end %>

</div>
