<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<%= form_with(model: @article, data: { turbo: false }, local: true) do |form| %>
  <% if @article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :files, "Файлы", style: "display: block; color: red" %>
    <%= form.file_field :files, multiple: true, direct_upload: true %>
  </div>

  <div>
    <%= form.label :images, "Изображения", style: "display: block; color: red" %>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <div>
    <%= form.label :title, "Название", style: "display: block; color: green" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :text, "Текст", style: "display: block; color: purple" %>
    <%= form.text_area :text, class: "input", style: "height: 200px; width: 500px; white-space: pre-wrap;" %>
  </div>

  <div>
    <%= form.label :video, style: "display: block; color: purple" %>
    <%= form.file_field :video %>
  </div>

    <table>
      <tbody>
        <% @article.files_attachments.each do |file| %>
          <tr>
            <td>
              <%= check_box_tag 'remove_files[]', file.id, false, id: "file_checkbox_#{file.id}" %>
              <%= label_tag "file_checkbox_#{file.id}", file.filename %>
            </td>
          </tr>
        <% end %>

        <% @article.images_attachments.each do |image| %>
          <tr>
            <td>
              <%= check_box_tag 'remove_images[]', image.id, false, id: "image_checkbox_#{image.id}" %>
              <%= label_tag "image_checkbox_#{image.id}", image.filename %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <div>
    <%= form.submit "Сохранить сообщение", class: "button is-info" %>
  </div>
<% end %>