<h1>Редактирование статьи</h1>

  <%= form_for :article, data: { turbo: false }, url: article_path(@article), method: :put do |f| %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </p>

 <p>
      <h1 class="title is-6 mt-4">Изображение</h1>
      <%= image_tag(@article.image.url, alt: 'Image') if @article.image? %>
    </p>

    <label>
      <%= f.check_box :remove_image %>
      Удалить картинку
    </label>

    <p>
      <%= f.submit 'Send message' %>
    </p>

  <% end %>