<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Редактировать сообщение", edit_article_path(@article), style: "color: blue", class: "button is-warning" %>
  <%= link_to "Показать сообщение", articles_path, style: "color: blue", class: "button is-primary" %>
</div>

<br>

<%= button_to "Удалить сообщение", @article, method: :delete, class: "button is-danger" %>
