<%= form_for @user do |user| %>
  <div class="field">
    <%= user.label :name, 'Имя:' %>
    <div class="control">
      <%= user.text_field :name, size: 40, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= user.label :password, 'Пароль:' %>
    <div class="control">
      <%= user.password_field :password, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= user.label :password_confirmation, 'Повторный пароль:' %>
    <div class="control">
      <%= user.password_field :password_confirmation,
        id: :user_password_confirmation, class: "input" %>
    </div>
  </div>

  <div class="field">
      <%= user.label :admin, 'Права доступа' %> 
    <div class="control">
      <%= user.check_box :admin %> 
    </div>
  </div>

  <div class="mt-4">
    <%= user.submit "Зарегистрироваться", class: 'button is-primary' %>
  </div>
<% end %> 
