<h1 class="title is-3 has-text-centered">Список клиентов</h1>
<%= link_to "Добавить клиента", new_client_path, class: "button is-dark" %>
<br><br>

<!--Ссылки для добавления блоков эбу для а/м--> 
<div class="column is-12">
    <%= link_to "Добавить Марку автомобиля", brand_ecus_path, class: "button", style: "color: green" %> 
    <%= link_to "Добавить Модель ЭБУ", model_ecus_path, class: "button", style: "color: green" %>
    <%= link_to "Добавить Модель а/м для ЭБУ", soft_ecus_path, class: "button", style: "color: green" %>
    <%= link_to "Добавить SW для ЭБУ", sw_idents_path, class: "button", style: "color: green" %> 
</div>

<div class="search-box"> 
  <!--ПОИСК КЛИЕНТА по ГОС НОМЕРУ -->   
  <%= form_tag clients_path, :method => 'get' do %>  
    <%= text_field_tag :licence, params[:licence], placeholder: "Поиск по гос/номеру", class: "search-field" %>  
    <%= submit_tag "Поиск", class: "btn" %>  
  <% end %> 
<!--ПОИСК МАШИНЫ по ВИН -->   
  <%= form_tag cars_path, method: :get do %>  
    <%= text_field_tag :search, params[:search], placeholder: "Поиск по Vin", class: "search-field" %>  
    <%= submit_tag "Search", class: "btn" %>  
  <% end %> 
<!--ПОИСК МОДЕЛИ МАШИНЫ  -->  
  <%= form_tag clients_path, method: :get do %> 
    <%= text_field_tag :search, params[:search], placeholder: "Поиск по модели машины", class: "search-field" %> 
    <%= submit_tag "Поиск", class: "btn" %> 
  <% end %> 
<!--ПОИСК ПО sw_ident -->   
  <%= form_tag clients_path, method: :get do %>  
    <%= text_field_tag :search, params[:search], placeholder: "Поиск по sw_ident", class: "search-field" %>  
    <%= submit_tag "Поиск", class: "btn" %>  
  <% end %>  
</div>

<div class="btn-group mb-3">
  <%= link_to 'Скачать базу клиентов архивом .zip', clients_path(format: :zip),
    class: 'btn btn-secondary' %>
</div>

<%= link_to "Сохранить фото ордеров", saveimages_path, class: "button is-primary" %>  

<div class="columns is-centered is-multiline">
  <div class="column">
    <% if @clients.present? %>
      <% @clients.each_with_index do |client, index| %>
        <div class="box mb-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Дата</th>
              <th scope="col">Исполнитель</th>
              <th scope="col">Гос. Номер</th>
              <th scope="col">Пробег</th>
              <th scope="col">Пробег new</th>
              <th scope="col">Машина (car)</th>
              <th scope="col">Ордеры</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th><%= index + 1 %></th>
              <td><%= client.data %></p></td>
              <td><%= client.username %></p></td>
              <td><%= client.licence %></p></td>
              <td><%= mileage_km(client) %></p></td>
              <td><%= get_max_mileage(client) %></p></td>
              <td><%= link(client) %></p></td>
              <% if client.orders? %> 

                <td>
                  <p><%= link_to "История ордеров", client_orders_path(client)%> </p>
                </td>
              <% else %> 
                <td>
                  <p><%= link_to "Добавить новый  ордер", new_client_order_path(client) %> </p>
                </td> 
              <% end %> 
            </tr>
        </table>

          <div class="columns mt-5 is-variable is-2-desktop">
            <div class="column is-4">
              <%= link_to  "Редактировать данные клиента", edit_client_path(client), class: "button is-warning" %>
          </div>

          <div class="column is-3">
            <% client.cars.each do |car| %>
              <%= link_to 'Машина клиента', client_car_path(client, car), class: "button is-info" %>
            <% end %>
          </div>
        
          <div class="column">
            <%= button_to "Удалить", client_path(client), method: :delete, 
              data: { turbo_method: :delete, turbo_confirm: "Подтверждаете удаление?" }, 
              class: "button is-danger" %>
          </div>

          <div class="column is-3">
            <% client.orders.each do |order| %>
              <%= link_to 'Открыть ордер', client_order_path(client, order), class: "button is-light" %> 
            <% end %>
          </div> 
        </div>
      </div>
    <% end %>
  <% end %>    

 <!-- <%= button_to "Удалить всех", clients_path, method: :delete,  
  data: { confirm: "Вы уверены, что хотите удалить всех клиентов?" },  
  class: "button is-danger", id: "delete-all-button" %> -->

  <%= button_to "Удалить всех", clients_path(turbo_confirm: "yes"), method: :delete,  
  data: { turbo_method: :delete, turbo_confirm: "Вы уверены, что хотите удалить всех клиентов?" },  
  class: "button is-danger", id: "delete-all-button" %>

</div>