
<h2 class="my-4">Список клиентов</h2>

<div class="position-fixed position-absolute srart-50 end-0 translate-middle-y" style="max-width: 540px;">
  <%= form_tag clients_path, :method => 'get' do %>

    <div class="text-dark bg-warning">
      <p> Введите номер автомобиля для поиска</p>
    </div>
    <%= text_field_tag sanitize(:search), params[:search] %>
    <%= submit_tag "Поиск" %>
  <% end %>
  <br />
</div>

<% if @clients.present? %>
  <% @clients.each_with_index do |client, index| %>
    <thead>
      <table class="table table-bordered border-primary" style="max-width: 540px;">
        <tr>
          <th scope="col">№</th>
           <th scope="col">Дата</th>
          <th scope="col">Гос. Номер</th>
          <th scope="col">Машина (car)</th>
          <th scope="col">Ордеры</th>
        </tr>
    </thead>

    <tbody class="table-group-divider" class="align-top">
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><p class="text-success"><%= client.data %></p></td>
        <td><p class="text-success"><%= client.licence %></p></td>
        <td><p class="text-success"><%= client_cars_path(client) %></p></td>
        <% if client.orders? %> 
          <td>
            <p class="text-success"><%= link_to "История ордеров", client_orders_path(client)%> </p>
          </td>
        <% else %> 
          <td>
            <p class="text"><%= link_to "Добавить новый  ордер", new_client_order_path(client) %> </p>
          </td> 
        <% end %> 
      </tr>
      </table>

      <p>
      <%= link_to  "Показать клиента", client_path(client) %> |
      <%= link_to  "Редактировать данные клиента", edit_client_path(client) %> |
      <%= link_to "New car", new_car_path %></div> |
      <%= link_to "Машины", cars_path %> |
      </p>

      <%= button_to "Удалить", client_path(client), method: :delete, 
          data: { turbo_method: :delete, turbo_confirm: "Подтверждаете удаление?" }, 
          class: "btn btn-danger" %>

    <% end %>
  <% end %>
