<h3>Вывод страницы show.html.erb</h3>

<%= form_tag clients_path, :method => 'get' do %>
        
        <%= @client.licence.upcase %></p></td>
        <%= @client.name %></p></td>
        <%= @client.phone %></p></td>
        <% end %>


<div>
  <%= link_to "Back to cars Показать список клиентов", clients_path %>
</div>

<%= button_to "Destroy this car", @client, method: :delete %>