
<%= form_for [client, order] do |order_form| %> 

  <div class="hstack gap-3" style="height: 100px;">
    <div class="field">
      <div class="field">
        <%= order_form.label :Клиент, value: Client.find(params[:client_id]).name  %>
        <%= order_form.text_field :client_id, class: "form-control" , value: params[:client_id] %> 
      </div>
  </div>

    <div class="field text-center">
    <br>
      <%= order_form.label :problem, 'Проблемы' %>
      <%= order_form.text_area :problem, { class: "form-control", size: "52x10" } %>
    </div>

  <div class="hstack gap-3" style="height: 100px;">
      <div class="field text-center">
      <br>
        <%= order_form.label :work_description, 'Ремонт' %>
        <%= order_form.text_area :work_description, {class: "form-control", size: "52x10"} %>
  </div>

      <div class="field">
        <%= order_form.label :price, 'Стоимость услуг' %>
        <%= order_form.number_field :price, {class: "form-control"} %>
      </div>
  </div>

  </div>
  <div class="field mt-3">
  <br><br><br><br><br>
    <%= order_form.submit "Добавить" %>
  </div>
<div class="field">
    <%= order_form.label :image %>
    <%= order_form.file_field :image %>
  </div>

<% end %>