<%= form_for [client, order], html: { multipart: true } do |order_form| %> 

  <div class="">
    <div class="field">
        <%= order_form.hidden_field :client_id, class: "form-control" , value: params[:client_id] %> 
    </div>

  <div class="field text-center">
      <%= order_form.label :problem, 'Проблемы' %>
        <div class="control">
            <%= order_form.text_area :problem, class: "input", style: "height: 100px; width: 500px; white-space: pre-wrap;"  %>
        </div>
  </div>

  <div class="field text-center">
      <%= order_form.label :work_description, 'Ремонт' %>
        <div class="control">
            <%= order_form.text_area :work_description, class: "input", style: "height: 200px; width: 500px; white-space: pre-wrap;" %>
        </div>
  </div>

    <div class="field">
      <%= order_form.label :mileage, 'Пробег' %>
        <div class="control">
          <%= order_form.number_field :mileage %>
        </div>
    </div>

    <div class="field">
      <%= order_form.label :price, 'Стоимость услуг' %>
        <div class="control">
          <%= order_form.number_field :price, step: 500 %>
        </div>
    </div>

    <div>
      <%= order_form.label :Файл, style: "display: block; color: red" %>
      <%= order_form.file_field :files, multiple: true, direct_upload: true %>
    </div>

    <div>
      <%= order_form.label :Фото, style: "display: block; color: red" %>
      <%= order_form.file_field :images, multiple: true, direct_upload: true %>
    </div>

    <div class="field mt-3">
      <div class="control">
        <%= order_form.submit "Добавить", class: "button is-primary" %>
      </div>
    </div>
  
<% end %>