
<%= form_for [client, order], html: { multipart: true } do |order_form| %> 

  <div class="">
    <div class="field">
      <div class="field">
        <%= order_form.hidden_field :client_id, class: "form-control" , value: params[:client_id] %> 
      </div>
    </div>

    <div class="field text-center">
      <%= order_form.label :problem, 'Проблемы' %>
      <%= order_form.text_area :problem, class: "input", style: "height: 100px; width: 500px;"  %>
    </div>

    <div class="field text-center">
      <br>
      <%= order_form.label :work_description, 'Ремонт' %>
      <%= order_form.text_area :work_description, class: "input", style: "height: 200px; width: 500px; white-space: pre-wrap;" %>
    </div>


    <div class="field">
        <%= order_form.label :mileage, 'Пробег' %>
        <div class="control">
          <%= order_form.number_field :mileage %>
        </div>
      </div>


      <div class="field">
        <%= order_form.label :price, 'Стоимость услуг' %>
        <div class="control">
          <%= order_form.number_field :price, step: 500 %>
        </div>
      </div>
    </div>
  


<div class="field">
  <%= order_form.label :images, 'Фото, Скрин неисправностей при диагностике' %>
  <div class="control">
    <%= order_form.file_field :image, html: { multiple: true }, direct_upload: true %>
  </div>
</div>



    <label>
      <%= order_form.check_box :remove_image %>
      Удалить картинку
    </label>
  </p>

    <div class="field mt-3">
      <div class="control">
        <%= order_form.submit "Добавить", class: "button is-primary" %>
      </div>
    </div>
  </div>
<% end %>