<table class="table">
  <thead>
    <tr>
      <th>Дата создания</th>
      <th>Проблемы</th>
      <th>Выполненая работа</th>
      <th>Стоимость</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <td>
      <%= order.created_at %> 
    </td>
    <td>
      <%= order.problem %> 
    </td>
    <td>
      <%= order.work_description %> 
    </td>
    <td>
      <%= order.price %>    
    </td>
    <td>
      <div class="columns">
        <div class="column">
          <%= link_to "Открыть", client_order_path(order.client, order), class: "button is-info" %>
        </div>
        <div class="column">
          <%= link_to "Редактировать", edit_client_order_path(order.client, order), class: "button is-warning"  %> 
        </div>
        <div class="column">
          <%= link_to "Удалить", client_order_path(order.client, order), method: :delete, 
            data: { turbo_method: :delete, turbo_confirm: "Подтверждаете удаление?" }, 
            class: "button is-danger" %>

        </div>
      </div>
    </td>

  </tbody>
</table>
