<h1 class="title is-5">Просмотр ордера</h1>
<%= link_to 'Вернуться', client_orders_path, class: "button is-info mb-3" %>

<div class="white-space: pre-wrap">
  <div class="field text-center">
      <strong>Файл:</strong>
        <% @order.files.each do |file| %>
          <%= link_to file.filename, file %> 
        <% end %>

  <div class="field text-center">
    <div style="white-space: pre-wrap;">
      <h1 class="title is-6">Когда производился ремонт</h1>
      <%= @order.client.created_at %> 
    </div>
  </div>

  <div style="white-space: pre-wrap;">
    <h1 class="title is-6">Проблема</h1>
    <%= @order.problem %> 
  </div>

  <div class="title is-6 mt-2">Выполнено</h1>
    <div>
      <%= content_tag :span, @order.work_description, style: "white-space: pre-wrap;" %>
    </div>
  </div>

  <div style="white-space: pre-wrap;">
    <h1 class="title is-6 mt-4">Цена</h1>
    <%= @order.price %> 
  </div>

  <div>
    <% @order.images.each do |image| %>
      <%= link_to image_tag(image, style:"width:150px; height:150px"), image %>
    <% end %>
  </div>
</div>