<h1>Просмотр ордера</h1>
<p>
  <%= @order.id %> 
</p>
<p>
  Проблема
  <%= @order.problem %> 
</p>

<p>
  Описание
  <%= @order.work_description %> 
</p>

<p>
  Цена
  <%= @order.price %> 
</p>

<p>
  Статус
  <%= @order.status %> 
</p>
