<h1>Просмотр ордера</h1>
<p>
  <%= @order.id %> 
</p>
<p>
  Проблема
  <%= @order.problem %> 
</p>

<p>
  Выполненые работы
  <%= @order.work_description %> 
</p>

<p>
  Цена
  <%= @order.price %> 
</p>

<p>
  Статус
  <%= @order.status %> 
</p>

<p>
<%= image_tag(@order.image.url, alt: 'Image') if @order.image? %>
</p>