<section class="section">
  <div class="container">
    <h1 class="title is-5">Просмотр ордера</h1>
    
    <%= link_to 'Вернуться к списку заказов', client_orders_path, class: "button is-info mb-3" %>

    <div class="box">
      <div class="content">
        <h2 class="title is-6">Файл:</h2>

        <% @order.files.each do |file| %>
          <p><%= link_to file.filename, file %></p>
        <% end %>

        <h2 class="title is-6 mt-4">Когда производился ремонт:</h2>
        <p><%= @order.client.created_at %></p>

        <h2 class="title is-6 mt-4">Машина:</h2>
        <% @order.client.cars.each do |car| %>
          <p><%= car.make.name %></p>
        <% end %>

        <h2 class="title is-6 mt-4">Проблема:</h2>
        <p><%= @order.problem %></p>

        <h2 class="title is-6 mt-4">Выполнено:</h2>
        <p><%= simple_format(@order.work_description) %></p>

        <h2 class="title is-6 mt-4">Цена:</h2>
        <p><%= @order.price %></p>

        <h2 class="title is-6 mt-4">Изображения:</h2>

        <% if @order.images.any? %>
          <% @order.images.each do |image| %>
            <%= link_to image_tag(image, style:"width:50px; height:50px", class: "mr-2"), image %>
          <% end %>
        <% else %>
          <p>Нет изображений для этого ордера.</p>
        <% end %>

         <footer class="card-footer">
          <%= link_to 'Редактировать', edit_client_order_path(@order.client, @order), class: "card-footer-item button is-warning" %>
          <%= link_to 'Удалить', client_order_path(@order.client, @order), method: :delete,
            data: { turbo_method: :delete, turbo_confirm: 'Вы уверены, что хотите удалить этот заказ?' },
            class: "card-footer-item button is-danger" %>
        </footer>
      </div>
    </div>
  </div>
</section>