
<table class="table">
  <thead>
    <tr>
      <td>Гос. номер а/м</td>
      <td>Марка</td>
      <td>Модель</td>
      <td>Пробег а/м</td>
      <td>Вин номер а/м</td>
      <td>ЭБУ а/м</td>
      <td>Клиент</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= car.client.licence.upcase %></td>
      <td> <%= car.make.name %></td>
      <td><%= car.model.name %></td>
      <td><%= car.mileage %></td>
      <td><%= car.vin %> </td>
      <td> <%= sanitize(car.ecm.name) if car.ecm.present? %></td>
      <td> <%= car.client.id if car.client.present?   %> </td>
    </tr>
  </tbody>
</table>

