<table class="table">

  <thead>
    <tr>
      <th>Гос. номер а/м</th>
      <th>Марка</th>
      <th>Модель</th>
      <th>Пробег а/м</th>
      <th>Вин номер а/м</th>
      <th>Производитель ЭБУ</th>
      <th>Марка ЭБУ</th>
      <th>Версия ЭБУ</th>
      <th>Идентификатор софта ЭБУ</th>
      <th>Клиент</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td> <%= car.client.licence.upcase %></td>
      <td> <%= car.make.name %></td>
      <td><%= car.model.name %></td>
      <td><%= car.mileage %></td>
      <td><%= car.vin %> </td>
      <td> <%= sanitize(car.brand_ecu.name) if car.brand_ecu.present? %></td>
      <td> <%= sanitize(car.model_ecu.name) if car.model_ecu.present? %></td>
      <td> <%= sanitize(car.soft_ecu.name) if car.soft_ecu.present? %></td>
      <td> <%= sanitize(car.sw_ident.name) if car.sw_ident.present? %></td>
      <td> <%= car.client.id if car.client.present?   %> </td>
    </tr>
  </tbody>
</table>