<%= form_with(model: car, data: { controller: 'dropdown', action: 'change->dropdown#change' }) do |form| %>

  <div class="columns mb-6">

    <div class="column">
      <div class="field">
        <%= form.label :Марка_id, style: "color: blue" %>
        <div class="control">
          <%= form.collection_select(:make_id, 
                                     Make.all, 
                                     :id,
                                     :name, { prompt: 'Select', selected: @car.make_id }, 
                                     { data: { source: 'makes' }}) %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :Модель_id, style: "color: blue" %>
        <div class="control">
          <%= form.collection_select(:model_id, 
                                     @car.make&.models || [], 
                                     :id, 
                                     :name, { prompt: 'Select', selected: @car.model_id }, 
                                     { data: { parent_id: 'car_make_id', source: 'models'}}) %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :works, 'Вид работ', style: "color: blue" %>
          <div class="control">
            <%= form.select :works, ["Diagnose", "Programm", "Mileage_km", "Airbag"] %>
          </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :Гос_Номер, style: "color: blue"  %>
        <div class="control">
          <%= form.collection_select(:client_id, 
                                     Client.all.order(created_at: :desc), 
                                     :id,
                                     :licence, { prompt: 'Select', selected: @car.client_id },
                                     { data: { source: 'clients' }}) %>
        </div>
      </div>
    </div>
  </div>
 
        <div class="columns">
          <div class="column">
            <div class="field">
              <%= form.label :Марка_автомобиля_id, style: "color: blue" %>
                <div class="control">
                  <%= form.collection_select(:brand_ecu_id, 
                                              BrandEcu.all,
                                              :id, 
                                              :name, { prompt: 'Select', selected: @car.brand_ecu_id}, 
                                              { data: { source: 'brand_ecus' }}) %>
                </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <%= form.label :Модель_ЭБУ_id, style: "color: blue" %>
                <div class="control">
                  <%= form.collection_select(:model_ecu_id,
                                              @car.brand_ecu&.model_ecus || [],
                                              :id, 
                                              :name, { prompt: 'Select', selected: @car.model_ecu_id }, 
                                              { data: { parent_id: 'car_brand_ecu_id', source: 'model_ecus', }}) %>
                </div>
            </div>
          </div>

         <div class="column">
            <div class="field">
              <%= form.label :Модель_Автомобиля_id, style: "color: blue" %>
                <div class="control">
                  <%= form.collection_select(:soft_ecu_id,
                                              @car.model_ecu&.soft_ecus || [],
                                              :id, 
                                              :name, { prompt: 'Select', selected: @car.soft_ecu_id }, 
                                              { data: { parent_id: 'car_model_ecu_id', source: 'soft_ecus', }}) %>
                </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <%= form.label :ПО_Калибровок_ЭБУ_id, style: "color: blue" %>
                <div class="control">
                  <%= form.collection_select(:sw_ident_id,
                                              @car.soft_ecu&.sw_idents || [],
                                              :id, 
                                              :name, { prompt: 'Select', selected: @car.sw_ident_id }, 
                                              { data: { parent_id: 'car_soft_ecu_id', source: 'sw_idents', }}) %>
                </div>
            </div>
          </div>
        

            <div class="column">
              <div class="field">
                <%= form.label :mileage, 'Пробег в км', style: "color: blue" %>
                <div class="control">
                  <%= form.text_field :mileage, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="field">
                <%= form.label :vin, 'Вин номер', style: "color: blue" %>
                <div class="control">
                  <%= form.text_field :vin, class: "form-control" %>
                </div>
              </div>
            </div>
        </div> 

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <%= form.submit "Добавить"  %>
        </div>
      </div>
    </div>
  </div>
<% end %>