<%= form_with(model: car, data: { controller: 'dropdown', action: 'change->dropdown#change' }) do |form| %>
  <div class="columns mb-6">

    <div class="column">
      <div class="field">
        <%= form.label :make_id  %>
        <div class="control">
          <%= form.collection_select(:make_id, 
                                     Make.all, 
                                     :id,
                                     :name, { prompt: 'Select', selected: @car.make_id }, 
                                     { data: { source: 'makes' }}) %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :model_id  %>
        <div class="control">
          <%= form.collection_select(:model_id, 
                                     @car.make&.models || [], 
                                     :id, 
                                     :name, { prompt: 'Select', selected: @car.model_id }, 
                                     { data: { parent_id: 'car_make_id', source: 'models'}}) %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :ЭБУ  %>
        <div class="control">
          <%= form.collection_select(:ecm_id,
                                     Ecm.all, 
                                     :id,
                                     :name, { prompt: 'Select', selected: @car.ecm_id },
                                     { data: { source: 'ecm' }}) %>      
        </div>
      </div>
    </div>


    <div class="column">
      <div class="field">
        <%= form.label :works, 'Вид работ' %>
        <div class="control">
          <%= form.select :works, ["Diagnose", "Programm", "Mileage_km", "Airbag"] %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :Клиент  %>
        <div class="control">
          <%= form.collection_select(:client_id, 
                                     Client.all.order(created_at: :desc), 
                                     :id,
                                     :licence, { prompt: 'Select', selected: @car.client_id },
                                     { data: { source: 'clients' }}) %>
        </div>
      </div>
    </div>
  </div>


  <div class="columns">

    <div class="column">
      <div class="field">
        <%= form.label :mileage, 'Пробег в км' %>
        <div class="control">
          <%= form.text_field :mileage, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :vin, 'Вин номер' %>
        <div class="control">
          <%= form.text_field :vin, class: "form-control" %>
        </div>
      </div>
    </div>
  </div> 

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <%= form.submit "Добавить"  %>
        </div>
      </div>
    </div>
  </div>

<% end %>
