<div class="box">
  <%= render @car %>
  <div class="columns is-variable is-2-desktop">
    <div class="column is-3">
      <%= link_to "Редактировать машину", edit_car_path(@car), class: "button is-warning" %>
    </div>
    <div class="column is-3">
      <%= link_to "Посмотреть все машины", cars_path, class: "button is-info" %>
    </div>
   
    <div class="column">
      <%= button_to "Удалить", @car, method: :delete, class: "button is-danger" %>  
    </div>

    <div class="column is-3" style="width: 10%">
      <%= link_to  'Ордеры', view_car_orders_path(@car), class: 'button is-primary' %>
    </div>

    <div class="column is-3" style="width: 10%">
      <% if @client.orders.present? %>
        <% order = @client.orders %>
        <%= link_to 'Создать ордер', view_car_order_path, class: 'button is-primary' %>
      <% else %>
        <%= link_to 'Создать ордер 2', new_client_order_path(@client), class: "button is-primary" %>
      <% end %>
    </div>
  </div>
</div>