<div class="box">
  <%= render @car %>
  <div class="columns is-variable is-2-desktop">
    <div class="column is-3">
      <%= link_to "Редактировать машину", edit_car_path(@car), class: "button is-warning" %>
    </div>
    <div class="column is-3">
      <%= link_to "Посмотреть все машины", cars_path, class: "button is-info" %>
    </div>
    <div class="column">
      <%= button_to "Удалить", @car, method: :delete, class: "button is-danger" %>  
    </div>

          <div class="column is-3">
            <% order = @client.orders.first %>
            <% if order.present? %>
              <%= link_to 'Открыть ордер', client_order_path(@client, order), class: "button is-info" %>
            <% end %>
          </div>
  </div>
</div>
