<nav class="navbar px-4 has-shadow is-white">
  <div class="container">
    <!-- logo brand --> 
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="title is-4 pl-3">Автосервис</span>
      </a>
      <a class="navbar-burger burger"  data-target="nav-links">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu" id="nav-links">
      <div class="navbar-end">
        <% if user_signed_in? %> 
          <% if admin? %> 
            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to "Панель администратора", '/', class: "navbar-link" %> 
              <div class="navbar-dropdown is-size-6">
                <div class="navbar-item">
                  <%= link_to "Добавить клиента", new_client_path  %>
                </div>
                <div class="navbar-item">
                  <%= link_to "Список клиентов", clients_path %>
                </div>
                <div class="navbar-item">
                  <%= link_to "Список машин", cars_path  %>
                </div>
                <div class="navbar-item">
                  <%= link_to "Cписок дел", tasks_path %>
                </div>

                <% if superadmin? %> 
                  <div class="navbar-item">
                    <%= link_to "Список пользователей", users_path %> 
                  </div>
                <% end %> 
              <% end %> 
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to "Выбор А/М", '/', class: "navbar-link" %> 
                <div class="navbar-dropdown is-size-6">
                  <div class="navbar-item">
                    <%= link_to "BMW", new_client_path  %>
                  </div>
                </div>
            </div>

            <div class="navbar-item">
              <!--<%= link_to 'Файлы', '/files', class: "link px-4 has-text-black" %>-->
            </div>

            <div class="navbar-item">
              <%= link_to 'Чат', chats_path, class: "link px-4 has-text-black" %> 
            </div>

            <div class="navbar-item">
              <%= link_to 'Вопросы-ответы', '/articles', class: "link px-4 has-text-black" %> 
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to current_user.name, root_path, class: "navbar-link" %> 
              <div class="navbar-dropdown is-right">
                <%= link_to 'Выйти', logout_path, method: :delete, class: "navbar-item" %>
              </div>
            </div> 
          <% else %>
            <%= link_to 'Войти', login_path, class: "navbar-item button is-warning" %>
          <% end %>  
      </div>
    </div>
  </div>
</nav>

