 <nav class="navbar navbar-expand bg-secondary p-3">

      <%= link_to image_tag("/images/logo.jpg"), root_path, class: "navbar-brand" %>
      <%= link_to "Введите владельца а/м", new_client_path, class: "navbar-brand text-light" %>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="nav-item">
            <%= link_to "Ввод машин", new_car_path, class: "nav-link text-light" %>
          </div>
          <div class="nav-item">
            <%= link_to "Ордер", new_order_path, class: "nav-link text-light" %> 
          </div>
          <div class="nav-item">
            <%= link_to "Клиенты", clients_path, class: "nav-link text-light" %>  
          </div>
          <div class="nav-item">
            <%= link_to "Машины", cars_path,  class: "nav-link text-light" %>
          </div>
           <div class="nav-item">
            <%= link_to "Админ", admin_path, class: "nav-link text-light" %> 
          </div>
          <div class="nav-item">
            <a class="nav-link text-light" href="/contact">Контакты</a>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %> 
            <div class="nav-item">
              <%= link_to current_user.name, new_user_path, class: "nav-link text-light" %> 
            </div>
            <div class="nav-item">    
              <%= link_to "Выйти", logout_path, method: "delete",  class: "nav-link text-light" %> 
            </div>
          <% else %>
            <div class="nav-item">
              <%= link_to 'Войти', login_path ,class: "navbar-brand text-light" %>   
            </div>
          <% end %> 
        </ul>
      </div>
    </nav>
