<!DOCTYPE html>
<html>
  <head>
    <title>MyService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body> 
    <%= render "layouts/navbar" %> 
    <div class="container content">
      <div class="container py-6">
        <%= yield %>
      </div>
    </div>

<script>
  $(document).ready(function() {
    $('#client_send_sms_reminder').change(function() {
      if($(this).is(':checked')) {
        alert('Оповещение теперь включено!');
        tasks.enableSmsReminder();
      } else {
        alert('Оповещение теперь выключено!');
        tasks.disableSmsReminder();
      }
    });
  });
</script>

  </body>
</html>